.groupName {
    list-style: none;
    height: 200px;
    width: 50%;
    overflow: scroll;
    border: 2px solid silver;
    margin: 20px auto;
}
.groupName li {
    display: flex;
    justify-content: space-between;
}
.groupName span {
    width: 80%;
    overflow: hidden;
}